* {
  font-family: "SauceCodePro NF";
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  transition: all 300ms;
}

window#waybar {
  background-color: #121212;
  color: #ffffff;
}

#window {
  margin: 0 4px;
}

.modules-center * {
  font-size: 4px;
}

#tags {
  margin: 1rem 0;
  transition: width 1s;
  transition: background-color 1s;
}

#tags button {
  min-height: 0;
  min-width: 0;
  background-color: #313244;
  border-radius: 999rem;

  padding: 0 4px;
  margin: 0 0.3rem;
}

#tags button.occupied {
  background-color: #cdd6f4;
}

#tags button.focused {
  background-color: #cdd6f4;
  padding: 0 1rem;
}

#tags button.urgent {
  background-color: #f38ba8;
}

.modules-right * {
  padding: 0 0.5rem;
}

#pulseaudio {
  color: #FFFFFF;
}

#pulseaudio.muted {
  color: #A0A0A0;
}

#pulseaudio.muted:hover {
  color: #FFFFFF;
}

#network {
  color: #2980b9;
}

#network:hover {
  color: #329ee6;
}

#network.disconnected {
  color: #FFFFFF;
  background-color: #f53c3c;
}

#cpu {
  color: #A0A0A0;
}

#cpu.working {
  color: #2ecc71;
}

#cpu:hover {
  color: #FFFFFF;
}

#cpu.working:hover {
  color: #38f285;
}

#battery {
  color: #FFFFFF;
}

#battery.charging, #battery.plugged {
  color: #26A65B;
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation: blink 0.5s steps(12) infinite alternate;
}

#clock {
  color: #8fa3b3;
}
