* {
  font-family: "VictorMono NF";
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  transition: all 300ms;
}

window#waybar {
  background-color: #121212;
  color: #ffffff;
}

#workspaces * {
  transition-property: none;
}

#workspaces button {
  color: #C0C0C0;
  padding: 4px 5px;
}

#workspaces button:hover {
  color: #A0A0A0;
  background: none;
}

#workspaces button.empty {
  color: #505050;
}

#workspaces button.active:hover {
  color: #9EBAFF;
}

#workspaces button.active {
  color: #7AA0FF;
}

#workspaces button.urgent {
  color: #EB4D4B;
}

.modules-right * {
  padding: 0 0.5rem;
}

#window,
#workspaces {
  margin: 0 4px;
}

#clock {
  color: #8fa3b3;
}

#battery {
  color: #FFFFFF;
}

#battery.charging, #battery.plugged {
  color: #26A65B;
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #2ecc71;
}

#cpu:hover {
  color: #38f285;
}

#network {
  color: #2980b9;
}

#network:hover {
  color: #329ee6;
}

#network.disconnected {
  color: #FFFFFF;
  background-color: #f53c3c;
}

#pulseaudio {
  color: #FFFFFF;
}

#pulseaudio.muted {
  color: #A0A0A0;
}

#pulseaudio.muted:hover {
  color: #FFFFFF;
}
